<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script defer src="/js/solid.min.js"></script>
    <script defer src="/js/fontawesome.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">The Software Pilgrim</a>
                    </div>
                </div>
        </div>
                
        <div class="container body-content">
            <div class="row">&nbsp;</div>
            <h2>Great developer resources</h2>
            <hr/>
            <div class="row">
                <div class="col-lg-12"><small>Last updated: 19 December 2019</small></div>
            </div>
            <p>&nbsp;</p>
<div class="row">
    <div class="col-lg-12">
        <p>
            There are so many resources available to developers. There is only enough time for exploring the most relevant and impactful. Below is a list of some of the most useful and thought-provoking I've explored.
        </p>

        <p>&nbsp;</p>
        <h3>Coding practise</h3>
        <p>
            &nbsp;
        </p>
        <ul>
            <li>
                    <h4>Code Complete by Steve McConnell</h4>
                    <p>
                        <a href="https://www.amazon.com/Code-Complete-Practical-Handbook-Construction/dp/0735619670"><img src="https://images-na.ssl-images-amazon.com/images/I/515iO%2B-PRUL._SX408_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                <h4>The Pragmatic Programmer by Andrew Hunt and David Thomas</h4>
                <p>
                    <a href="https://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X"><img src="https://images-na.ssl-images-amazon.com/images/I/41BKx1AxQWL._SX396_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                </p>
                <hr />
            </li>
        </ul>

        <p>&nbsp;</p>
        <h3>Methods</h3>
        <p>
            &nbsp;
        </p>
        <ul>
            <li>
                    <h4>Bridging the Communication Gap by Gojko Adzic</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0955683610"><img src="https://images.gr-assets.com/books/1348029534l/6443938.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>REWORK by Jason Fried</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0307463745"><img src="https://images-na.ssl-images-amazon.com/images/I/41woojfwaaL._SX329_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
        </ul>

        <p>&nbsp;</p>
        <h3>Business</h3>
        <p>
            &nbsp;
        </p>
        <ul>
            <li>
                    <h4>Eric Sink on the Business of Software (Expert's Voice)</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/1590596234"><img src="https://images-na.ssl-images-amazon.com/images/I/518t-Ihh5zL._SX331_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>The Cathedral & the Bazaar: Musings on Linux and Open Source by an Accidental Revolutionary by Eric S. Raymond</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0596001088"><img src="https://images-na.ssl-images-amazon.com/images/I/51nX8ivtfZL._SX328_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses by Eric Ries</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0307887898"><img src="https://images-na.ssl-images-amazon.com/images/I/51T-sMqSMiL._SX329_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
        </ul>

        <p>&nbsp;</p>
        <h3>Technology stacks</h3>
        <p>
            &nbsp;If you are looking for ways to get a rapid overview of technologies and stacks.
        </p>
        <ul>
            <li>
                    <h4>The State of ... surveys</h4>
                    <p>
                        <a href="https://2019.stateofjs.com">The state of JavaScript 2019</a> - a great overview of what's current in JavaScript and other web technologies.
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>Stack Share</h4>
                    <p>
                        <a href="https://stackshare.io/">Stackshare</a> - sometimes to be taken with a pinch of salt but still useful when looking up new technologies.
                    </p>
                    <hr />
            </li>
        </ul>

        <p>&nbsp;</p>
        <h3>Career</h3>
        <p>
            &nbsp;
        </p>
        <ul>
            <li>
                    <h4>Career and Survival Strategies for Software Developers by Dan Appleman</h4>
                    <p>
                        <a href="https://app.pluralsight.com/library/courses/career-survival-strategies-4devs/"><img src="https://www.pluralsight.com/content/dam/pluralsight/newsroom/brand-assets/logos/PS_logo_F-02.png" alt="Pluralsight course logo" width="90" /></a>
                    </p>
                    <hr />
            </li>
            <li>
                    <h4>Crucial Conversations: Tools for Talking When Stakes Are High by Patterson, Grenny, McMillan and Switzler</h4>
                    <p>
                        <a href="https://www.amazon.com/gp/product/0071401946/"><img src="https://images-na.ssl-images-amazon.com/images/I/515q7mzMOTL._SX332_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
            </li>
        </ul>

        <p>&nbsp;</p>
        <h3>Time management</h3>
        <p>
            &nbsp;
        </p>
        <ul>
            <li>
                <h4>Time management lecture by Randy Pausch (video and transcript)</h4>
                <p>
                    <a href="https://www.youtube.com/watch?v=oTugjssqOT0">Randy Pausch Lecture: Time Management on YouTube</a>
                </p>
                <p>
                    <a href="https://www.cs.cmu.edu/~pausch/Randy/Randy/TMenglishTranscript.pdf">Transcript of lecture (pdf)</a>
                </p>
                <hr />
            </li>
            <li>
                    <h4>Getting Things Done: The Art of Stress-Free Productivity by David Allen</h4>
                    <p>
                        <a href="https://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0143126563/"><img src="https://images-na.ssl-images-amazon.com/images/I/51W-ZL%2BQRlL._SX324_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                    </p>
                    <hr />
                </li>
        </ul>
    </div>
</div>
</div>

<hr />
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                        <p><small>&copy; 2020 The Software Pilgrim</small></p>
                        </div>
                        <div class="col-md-4">
                        <a href="https://stackoverflow.com/users/45817/grahammc">
                            <img src="https://stackoverflow.com/users/flair/45817.png?theme=clean" width="208" height="58" alt="Profile for GrahamMc at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="Profile for GrahamMc at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                        </a>
                        </div>
                        <div class="col-md-4">
                            <p><a href="https://twitter.com/GrahamMcZa?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">@GrahamMcZa on Twitter</a></p>
                            <p><small><a href="https://www.github.com/grahammcallister"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="Github logo" width="30" height="30"> www.Github.com/grahammcallister</a></small></p>
                        </div>
                    </div>
                </div>
            </footer>
</body>
</html>