<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script defer src="/js/solid.min.js"></script>
    <script defer src="/js/fontawesome.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">The Software Pilgrim</a>
                    </div>
                </div>
        </div>
                
        <div class="container body-content">
            <div class="row">&nbsp;</div>
            <h2>What makes a developer great?</h2>
            <hr/>
<div class="row">
    <div class="col-lg-12">
        <p><small>This essay is part of an ongoing conversation inside my own head. Ponder this: there is value in understanding why even to ask this question.</small></p>

        <p>&nbsp;</p>

        <h3>Questions are always asked from a certain viewpoint</h3>
        <p>&nbsp;</p>
        <p>
           Most of us probably already have a picture of what a great developer might be - the attributes of a great developer.
        </p>
        <p>
            Some examples:
            <ul>
                <li>a junior developer might consider a more gifted communicator up front on stage at a technical conference to be great.</li>
                <li>a recruiter might consider an easily placed candidate who has a comprehensive skills matrix to be a great developer.</li>
                <li>a manager might consider a quick working direct report who gets things done in a traditional enterprise team to be great.</li>
            </ul> 
        </p>
        <p>
            Typically I have mixed underlying motives when ask this question of myself. Motives like discovering how can I myself become a better developer? Or am I a "good enough" developer?
        </p>
        <p>
            Take a moment, if you can. Consider your motive for asking or your level of curiosity regarding this question. Does this consideration bring to light any insights about your own context?
        </p>

        <p>&nbsp;</p>

        <h3>Some great attributes to have as a developer</h3>
        <p>
            This is a list of "great developer" characteristics or attributes, traits I've appreciated in the developers I've worked with. No single person possesses all these, although there could be such great developers out there!
        </p>

        <p>&nbsp;</p>

        <ul class="fa-ul">
            <li>
                <h4><i class="fa fa-li fa-truck"> </i>Productivity and focus</h4>
                <p>
                    Wicked productivity / output / fruitfulness / getting things done. An uncanny ability to stay focussed on what currently needs to be solved, without getting side tracked by secondary issues.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-search"> </i>Problem solving</h4>
                <p>
                    Solving problems no-one else can, either through sheer experience, creativity, clear thinking, or mathematical/logical deduction.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-magic"> </i>Teaching ability</h4>
                <p>
                    Great ability to explain and teach concepts concisely and at the needed level of detail, often with very little preparation needed.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-shower"> </i>Clean code</h4>
                <p>
                    Designing and writing code in a really clean, concise way that others can easily understand; the ability to group concepts, name things well, and to separate concerns cleanly.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-bolt"> </i>Quick working</h4>
                <p>
                    Fast typing super keyboard shortcut ninja. Quick developers know how to crank out a working solution, fast.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-star"> </i>Experienced (either broad and shallow, or deep and narrow, or broad and deep)</h4>
                <p>
                    Expertise gained over time through deliberate practise in a language/toolset/platform/domain. Familiar with a range of methodologies, techniques and tools. They know how to use the right tool for the right job.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-briefcase"> </i>Great memory</h4>
                <p>
                    A solid memory that can access detail about a specific implementation long forgotten by others is a great asset in any team.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-thumbs-up"> </i>Customer focussed and intuitive towards customer needs</h4>
                <p>
                    Anticipating the needs of the customer, sometimes more clearly than even the customer or stakeholder themselves.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-beer"> </i>Pleasant, humble and courteous nature</h4>
                <p>
                    A pleasure to work with, possessing emotional intelligence, willing to share credit, do a fair share of work, compliments good work, respectful of all kinds of people. They enjoy working with people and people enjoy working with them. They display a sense of humour and don't take themselves too seriously. People with this attribute can work with almost any person alive. 
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-life-ring"> </i>Reliable and go the extra mile to delight</h4>
                <p>
                    They make sure they never let anyone down, almost always doing what they say they will do, or alternatively they renegotiate the terms of their commitments. They under-promise and deliver above your expectations.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-check-square"> </i>Precise</h4>
                <p>
                    A deep commitment to precision in all they do - never ships a defect, their build is always green. Counting keystrokes, allocating memory conscientiously, definitely no spelling errors in their code.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-address-card"> </i>Respected reputation and "sensei factor"</h4>
                <p>
                    Known by business leaders, the customer, or other stakeholders. Such individuals are able to communicate with stakeholders in an authoritative way that other developers are not able to do.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-bomb"> </i>Risk taking</h4>
                <p>
                    Willing to experiment, measure, feedback, fail and learn from failure. Does not take "silly" or unconsidered risks, but willing to try something new, and genuinely learn if it adds value. Failure can be a great teacher.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-graduation-cap"> </i>Learn-it-all</h4>
                <p>
                    Someone with a student attitude committed to figuring things out for themselves. Constantly self improving, such peoplare are open to receiving feedback.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-heart"> </i>Caring and mentoring</h4>
                <p>
                    Cares about you as a person and recognises people are more than just software coding resources. They think about team career development and the future.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-gem"> </i>The squirrel - stashes nuggets of knowledge or code for a rainy day</h4>
                <p>
                    Has a well maintained library of existing code samples, snippets, test data, example solutions they have kept and built and curated, and are kind enough to share.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-users"> </i>Community minded</h4>
                <p>
                    Contributing prolifically to open source and the community, involved in open source projects and sacrificing their own time for the benefit of the larger developer community.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-building"> </i>Infrastructure knowledge and ability</h4>
                <p>
                    Has deep dev-ops skills and know their way around a terminal screen on any operating system or distribution.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-bullhorn"> </i>Networking skills (in the people sense of the word)</h4>
                <p>
                    Can connect you to the right person for any job, well connected and generous in referring people for the best reasons and motives.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-futbol"> </i>Other helpful secondary skills</h4>
                <p>
                    Graphic design, and user experience design expertise can add tons of value to any project. Suprising side passions can bring a unique flavour. I once worked with a developer with an extraordinary passion for chess, and taught me about strategic thinking and competitiveness.
                </p>
            </li>
        </ul>
        
        <p>&nbsp;</p>
        
        <h3>Pitfalls to being a great developer. (The anti-great developer)</h3>
        <p>&nbsp;</p>
        <ul class="fa-ul">
            <li>
                <h4><i class="fa fa-li fa-calendar-alt"> </i>Flavour of the month developers</h4>
                <p>
                    Some developers always need to be seen to be following the latest trends, even when the trends are clearly irrelevant. Perhaps a degree of underlying insecurity might be part of driving this.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-skull"> </i>Negativity or bitterness</h4>
                <p>
                    Developers in some situations run the risk of adopting a tired attitude or an automatic "negative response". Even though it may be understandable why some developers grow weary and embittered in some situations, it is almost never helpful to consistently exhibit negativity in the workplace. Sadly some developers never seem to grow beyond this and become isolated as a result.
                </p>
            </li>
        </ul>

        <p>&nbsp;</p>

        <h3>Useful related resources and reading</h3>
        <p>
            If you're interested in the topic of excellence in software development, take a look at my article on related <a href="/PilgrimResources">resources for being a great developer</a>.
        </p>
        <p>&nbsp;</p>
        <h3>Being a developer is a journey</h3>
        <p>
            That's partly why my site is called The Software Pilgrim - being a software developer is more like being on a journey than it is like arriving at a specific destination. I hope this essay has been helpful to you in some way on your own journey, whatever that may look like.
        </p>
    </div>
</div>
</div>
<hr />
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <p>&copy; 2019 The Software Pilgrim</p>
            </div>
            <div class="col-md-4">
            <a href="https://stackoverflow.com/users/45817/grahammc">
                <img src="https://stackoverflow.com/users/flair/45817.png?theme=clean" width="208" height="58" alt="Profile for GrahamMc at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="Profile for GrahamMc at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
            </a>
            </div>
            <div class="col-md-4">
                <p><a href="https://twitter.com/GrahamMcZa?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">@GrahamMcZa on Twitter</a></p>
            </div>
        </div>
    </div>
</footer>
    
</body>
</html>