<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script defer src="/js/solid.min.js"></script>
    <script defer src="/js/fontawesome.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">The Software Pilgrim</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">"Home"</a></li>
                            <li><a href="/About">"About"</a></li>
                            <li><a href="/Contact">"Contact"</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        
        <div class="container body-content">
        
            <hr/>
<div class="row">
    <div class="col-lg-12">
        
        <p>
            The answer to this question is an ongoing conversation.
        </p>
        <p>
            First I'll consider motivation for why folks might ask this question. Then I'll list some positive attributes of great developers I have worked with or for.
            I'll list some pitfalls I've seen that can prevent talented developers from moving forward. Lastly, I'll share some resources and further reading.
        </p>
        <h3>A question is always asked from a certain viewpoint</h3>
        <p>
            Consider for a moment what might your own personal reason be for asking a question like "what makes a developer great?".
        </p>
        <p>
            For example, a room full of developers at a technical conference observing an engaging fellow developer on stage, demonstrating new insight into a problem domain, might consider the presenting developer upfront to be "great".
        </p>
        <p>
            A personnel recruiter, if let's say they are of the more selfish kind, might consider a person who ticks enough boxes on a skills matrix, and who can likely be placed easily, to be a "great developer".
        </p>
        <p>
            A manager (in a more stable hierarchical large corporate) might consider someone who gets work done relatively quickly and painlessly, rarely complains or is rarely complained about, to be a "great developer".
        </p>
        <p>
            These  observers (short-sighted recruiter, comfortable manager, developers at a conference) have differing preconceived notions about what makes a developer great, based on their own context and motives.
        </p>
        <p>
            For me personally, usually I ask this question with mixed underlying motives and questions, such as "How can I myself become a better developer?" and "Am I a good enough developer?".
        </p>
        <p>
            Take a moment to consider what underlying motive might cause you to ask this question in the first place. It might give you surprising insight. 
        </p>
        <h3>Some great attributes to have as a developer</h3>
        <p>
            In considering the answer to the question of what makes a great developer, I made a list of "great developer" characteristics or attributes. These are traits that I've appreciated in the developers I've worked with over time. No single one person possesses all these, although I don't doubt there could be such developers out there in the world today!
        </p>
        <ul class="fa-ul">
            <li>
                <h4><i class="fa fa-li fa-truck"> </i>Productivity and focus</h4>
                <p>
                    Wicked productivity / output / fruitfulness / getting things done. An uncanny ability to stay focussed on the most applicable, dead-on-track problem currently needed to be solved without getting side tracked by secondary issues or shiny technology gimmicks.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-search"> </i>Problem solving</h4>
                <p>
                    Solving problems no-one else can through experience, creativity, clear thinking, or mathematical/logical deduction
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-magic"> </i>Teaching ability</h4>
                <p>
                    Great ability to explain problems and teach concepts concisely and at the needed level of detail, usually with a whiteboard and often with very little preparation.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-shower"> </i>Clean code</h4>
                <p>
                    Designing and writing code in a really clean, concise way that others can easily understand; grouping, naming well, separating concerns.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-flash"> </i>Quick working</h4>
                <p>
                    Fast typing and super keyboard shortcut ninja skills. Quick developers do well at code competitions - they know how to crank out a working solution, fast.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-star"> </i>Experienced (either broad and shallow, or deep and narrow, or broad and deep)</h4>
                <p>
                    Expertise gained over time through deliberate practise with their language/toolset/platform/domain. Familiar with a range of methodologies, techniques and tools. The ability to appropriately match their experience to the problem(s) at hand (know how to use the right tool for the right job).
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-bank"> </i>Great memory</h4>
                <p>
                    A wonderful memory for detail - can access details about a specific implementation that are long forgotten by others.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-thumbs-up"> </i>Customer focussed and intuitive towards customer needs</h4>
                <p>
                    Anticipation of the needs of the customer, sometimes more clearly than even the customer or stakeholder imagined for themselves.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-beer"> </i>Pleasant, humble and courteous nature</h4>
                <p>
                    A pleasure to work with - possess great emotional intelligence, willing to share credit, do their fair share of work, compliment you when you do good work, and are respectful of all kinds of people. They enjoy working with people and people enjoy working with them. They display a sense of humour and don't take themselves too seriously. People with this attribute can work with almost any person alive. 
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-life-buoy"> </i>Reliable and go the extra mile to delight</h4>
                <p>
                    They make sure they never let you down, almost always doing what they say they will do, or alternatively they renegotiate the terms of their former commitments. If at all possible, they will consistently under-promise and deliver above your expectations of them.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-check-square-o"> </i>Precise</h4>
                <p>
                    A deep commitment to excellence in all they do - never shipping a single defect, and their build is always green. Counting the keystrokes, allocating memory conscientiously, and definitely no spelling errors in their code.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-vcard"> </i>Respected reputation and "sensei factor"</h4>
                <p>
                    Known in their own right by business leaders, the customer, or other stakeholders. Such individuals are able to communicate with stakeholders in an authoritative way that other developers are not able to do.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-bomb"> </i>Risk taking</h4>
                <p>
                    Willing to experiment, measure, feedback, fail and learn from failure. Do not take "silly" or unconsidered risks, but willing to try something new, to genuinely learn if it adds value or not. Sometimes you learn more from your failures than your successes.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-graduation-cap"> </i>Learn-it-all</h4>
                <p>
                    Someone with a student attitude who is committed to figuring things out for themselves, in a non-threatening, non-OCD kind of way. Such people are always a student and demonstrate a commitment to always be willing to learn and constantly self improve. They are open to receiving feedback.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-heart-o"> </i>Caring and mentoring</h4>
                <p>
                    Cares about you as a person who is more than just a software coding resource, and thinks about your career development, your future and your current circumstances. Sometimes tells you to stop working and go home and rest.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-diamond"> </i>Squirrels away good nuggets of knowledge or code</h4>
                <p>
                    Has a well maintained library of existing code samples, snippets, test data, example solutions they have kept and built and curated, and are kind enough to share
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-users"> </i>Community minded</h4>
                <p>
                    Contributing prolifically to open source and the community, involved in open source projects and sacrificing their own time for the benefit of the larger developer community.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-building"> </i>Infrastructure knowledge and ability</h4>
                <p>
                    Has dev-ops skills second to none - can mix and mince VM's, disks, networks and infrastructure as if they were a master chef in a kitchen. Knows their way around a terminal screen on any operating system or distribution.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-bullhorn"> </i>Networking skills (in the people sense of the word)</h4>
                <p>
                    Knows the right person for any job, knows who to call to find out who can do the job, well connected and generous in referring people for the best reasons and motives
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-futbol-o"> </i>Helpful secondary skills</h4>
                <p>
                    A developer who also has an eye for graphic design and user experience can add tons of value to any project. A developer with suprising side passions can bring a unique flavour. Working with a developer who had an extraordinary passion and skill in chess taught me about strategic thinking and competitiveness.
                </p>
            </li>
        </ul>
        <h3>Pitfalls to being a great developer. (The anti-great developer)</h3>
        <ul class="fa-ul">
            <li>
                <h4><i class="fa fa-li fa-calendar"> </i>Flavour of the month developers</h4>
                <p>
                    These developers always need to be seen following latest trends, even when irrelevant. Perhaps a degree of underlying insecurity might be part of driving this.
                </p>
            </li>
            <li>
                <h4><i class="fa fa-li fa-frown-o"> </i>Negativity or bitterness</h4>
                <p>
                    Developers in some situations run the risk of adopting a tired attitude or an automatic negative response. Even though it may be understandable why some developers grow weary and embittered in some situations, it is almost never helpful to consistently exhibit negativity in the workplace. Sadly some developers never seem to grow beyond this and become isolated as a result.
                </p>
            </li>
        </ul>
        <h3>Useful related resources and reading</h3>
        <p>
            If you're interested in the topic of excellence in software development, you'll do yourself no harm in working through these three excellent resources.
        </p>
        <ul>
            <li>
                <h4>The Pragmatic Programmer by Andrew Hunt and David Thomas</h4>
                <p>
                    <a href="https://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X"><img src="https://images-na.ssl-images-amazon.com/images/I/41BKx1AxQWL._SX396_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                </p>
                <hr />
            </li>
            <li>
                <h4>Code Complete by Steve McConnell</h4>
                <p>
                    <a href="https://www.amazon.com/Code-Complete-Practical-Handbook-Construction/dp/0735619670"><img src="https://images-na.ssl-images-amazon.com/images/I/515iO%2B-PRUL._SX408_BO1,204,203,200_.jpg" alt="Book cover image" width="90" height="120" /></a>
                </p>
                <hr />
            </li>
            <li>
                <h4>Time management lecture by Randy Pausch (video and transcript)</h4>
                <p>
                    <a href="https://www.youtube.com/watch?v=oTugjssqOT0">Randy Pausch Lecture: Time Management on YouTube</a>
                </p>
                <p>
                    <a href="https://www.cs.cmu.edu/~pausch/Randy/Randy/TMenglishTranscript.pdf">Transcript of lecture (pdf)</a>
                </p>
                <hr />
            </li>
        </ul>
        <h3>Being a developer is a journey</h3>
        <p>
            That's partly why my site is called The Software Pilgrim - being a software developer is more like being on a journey than it is like arriving at a specific destination. I hope this essay has been helpful to you in some way on your own journey, whatever that may look like.
        </p>
    </div>
</div>

            <hr />
            <footer>
                <p>&copy; The Software Pilgrim</p>
            </footer>
    </div>
</body>
</html>